<div class="container">    
    <div class="row justify-content-center p-4">
        <%= form_with url: '/users_answers' do %>
            <% if flash[:question_alert] %>
            <!-- Only display login_alert flash message here -->
                <%= content_tag :div, flash[:question_alert], :id => "question_alert" %>
            <% end %>
            <div class="content">
                <%= @question.id_in_category %>. <%= @question.content %>
            </div>
            <div>
                <%= hidden_field_tag 'question_id', @question.id  %>
            </div>
            <div class="choices">
                <% @question.choices.each do |choice| %>
                    <div>
                        <label>
                            <%= radio_button_tag('choice_id', choice.id) %> <%= choice.content %>
                        </label>
                    </div>
                <% end %>
            </div>
            <div class="submit">
                <%= submit_tag("Next", class: 'btn btn-success btn-lg')%>
            </div>
        <% end %>
    </div>
</div>
