<div class="overview">    
    <div class="title"> Results </div>
    <% @category.questions.each do |question| %>
        <div class="question">
            <%= question.id_in_category %>. <%= question.content %>
        </div>
        <% question.choices.each do |choice| %>
            <p class="<%= choice.correct && "correct_answer" %>"> * <%= choice.content %></p>
        <% end %>
        <div class="content"> Your Answer: 
            <div class="current_answer"><%= UserAnswer.current_users_answer(@score.id, question.id).choice.content %></div>
        </div>
    <% end %>
    <%= link_to "Back", :back, class: "btn btn-primary btn-lg" %>
</div>