<div class="users_answers">
    <div class= "outcome">
        <% if @answer.choice.correct %>
            <%= image_tag 'tenor.gif',class: "style-image"%>
            <h1>CORRECT!!</h1>
        <% else %>
            <%= image_tag 'wong.gif', class: "style-image"%>
            <h1>WRONG!!</h1>
        <% end %>
    </div>
    <div>
        <% if @answer.question.is_last? %>
            <%= link_to "Score", "/scores/#{@answer.question.category_id}", class: "btn btn-success btn-lg" %>
        <% else %>
            <%= link_to "Next", "/questions/#{@answer.question.next.id}", class: "btn btn-success btn-lg" %>
        <% end %>
    </div>
</div>