<div class="container"> 
    <div class="row justify-content-center">
        <div class="display-4 p-2 title">About</div>
    </div>
    <div class="row justify-content-center">
        <div class="instruction"> 
            This app is made to test your knowledge
            and your ability in programming.<br/>
            this is not just a quiz, you learn from it also.
            Every Level has one programming languages that test your mind.
            Also test your skills.if you've done one level the next level will be unlock.
            the best thing you do is to choose the right answers of all the questions.
        </div>
    </div>
    <div class="row justify-content-center p-4">
        <%= link_to "Back to Menu", menu_path, class: "btn btn-success btn-lg" %>
    </div>
</div>