<div class='container'>
  <div class='row'>
    <div class='col-7 display-4 subject'>Sunnyeee Game</div>
    <div class='col-5 text-right p-2'><%= link_to "Login", log_in_path, class: "btn btn-primary" %></div>
  </div>
  <div class='row justify-content-center p-5'>
    <div class='display-3 title'>Sunnyeee Quiz Game</div>
  </div>
  <div class='row justify-content-center'>
    <p>Sign up now! to play your game!</p>
  </div>
  <div class='row justify-content-center'>
    <%= link_to 'Sign up', sign_up_path, class: "btn btn-success btn-lg" %>
  </div>
</div>
