<div class='container'>
    <div class="row justify-content-center p-3">
        <div class="title display-4"> Sunnyeee Quiz Game</div>
    </div>
    <div class='row justify-content-center p-3'>
        <div class="sub_title display-4"> Menu </div>
    </div>
    <div class="row justify-content-center p-2">
        <%= link_to 'Play', categories_path, class: 'btn btn-success btn-lg ' %>
    </div>
    <div class="row justify-content-center p-2">
        <%= link_to 'Score', scores_path, class: 'btn btn-primary btn-lg ' %>
    </div>
    <div class="row justify-content-center p-2">
        <%= link_to 'About', about_path, class: 'btn btn-info btn-lg ' %>
    </div>
    <div class="row justify-content-center p-2">
        <%= link_to 'Setting', "#", class: 'btn btn-danger btn-lg ' %>
    </div>
</div>
