<div class="container">
    <div class='row justify-content-center'>
        <div class="title display-4 p-3">Reminders!</div>
    </div>
    <div class="row justify-content-center">
        <div class="content">
            Welcome to Sunnyeee Game!
            I would like to introduce you about how Sunnyeee Game is Great! 
            You can test what you've learned by taking following quizzes. 
            Each quiz consists of a question with multiple choices. 
            And there is one correct answers in these choices. 
            Select one choice you think is correct by clicking it. 
            Be honest! Because honesty is the best policy. 
            And also Enjoy while taking quizzes. Good luck!
        </div>
    </div>
    <div class="row justify-content-center p-4">
        <%= link_to 'Next', menu_path, class: "btn btn-success btn-lg" %>
    </div>
</div>

