<div class='container'>  
  <div class="row justify-content-center">
    <div class="display-1 p-5 title">Login</div>
  </div>
  <div class="row justify-content-center">
    <%= form_tag log_in_path, {class: "form"} do %>
      <% if flash[:login_alert] %>
        <!-- Only display login_alert flash message here -->
        <%= content_tag :div, flash[:login_alert], :id => "flash_login_alert" %>
      <% end %>
      <div class="input">
        <%= text_field_tag :email, params[:email], class: "input_area", placeholder: "Email" %>
      </div>
      <div class="input">
        <%= password_field_tag :password, params[:password], class: "input_area", id: "defaultLoginFormPassword", placeholder: "Password" %>
      </div>
      <div class="submit">
        <%= submit_tag "Login", class: "btn btn-primary btn-lg" %>
      </div>
    <% end %>
  </div>
  <div class="row justify-content-center p-3">
    <div>Not yet register? click <%= link_to 'SignUp', sign_up_path, class: 'btn btn-success btn-lg'%></div>
  </div>
</div>