<div class="record"> 
    <div class="list">
        <h1>List Of Scores</h1>
        <% @scores.each do |s| %>
            <div class="outcome">
                <div class="username"><%= s[:user_mail] %></div>
                <div class="achievement"><%= s[:score] %></div>
            </div>
        <% end %>
        <span><%= link_to 'Back', scores_path, class: "btn btn-info btn-lg" %></span>
        <span><%= link_to 'Menu', menu_path, class: "btn btn-success btn-lg" %></span>
    </div>
</div>