<div class="category">    
    <div class="score">
        <h1> Highest Score </h1>
        <% @categories.each do |category| %>
            <h2><%= link_to category.title, "/scores/categories/#{category.id}", class: "btn btn-default btn-lg" %></h2>
        <% end %>
        <%= link_to 'Menu', menu_path, class: "btn btn-primary btn-lg" %>
     </div>
</div>