<div class="result_of_users_answers">    
    <div class="content">
        <div class="total_score"><%= @score.corrects_count %> / <%= @questions_count %></div>
        <% if @score.passed %>
            <div class="result_title succeed"> Congratulations!<br>Good Job!</div>
            <%= image_tag 'verygood.gif' %><br> 
            <div>
                Congratulations! You're now able to play the 
                next Category.
            </div>
            <div><%= link_to "Category Menu", categories_path, class: "button proceed", :onclick => "audio.pause()" %></div>
        <% else %>
            <div class="result_title failed">Ooooooppss..<br>FAILED!</div>
            <%= image_tag 'crying.gif'%>
            <div>
                Sorry you're not able to play the next Category.
                You must get atlist higher than 15 scores.
            </div>
            <div><%= link_to "Back to menu", menu_path, class: "button back", :onclick => "audio.pause()" %></div>
        <% end %>
        <div><%= link_to "Results", "/results/#{@score.category_id}", class: "btn btn-success btn-lg" %></div>
    </div>
</div>