<div class="container">  
  <div class="row justify-content-center">
    <div class="title display-4 p-5">Sign Up</div>
  </div>
  <div class="row justify-content-center">
    <%= form_for @user, url: sign_up_path do |f| %>
      <% if @user.errors.any? %>
        <div class="invalid_input">
          <ul>
            <% for message in @user.errors.full_messages %>
              <li><%= message %></li>
            <% end %>
          </ul>
        </div> 
      <% end %>
      <div class="input">
        <%= f.text_field :email, class: "form-control", placeholder: "Email" %>
      </div>
      <div class="input">
        <%= f.password_field :password, class: "form-control", placeholder: "Password" %>
      </div>
      <div class="input">
        <%= f.password_field :password_confirmation, class: "form-control", placeholder: "Password_Confirmation" %>
      </div>
      <div>
        <%= f.submit "Create my account", class: "btn btn-success btn-lg" %>
      </div>
    <% end %>
  </div>
  <div class="row justify-content-center">
    <div class="login"> Already have an account?just click
      <%= link_to "Login", log_in_path, class: "btn btn-primary btn-lg"%>
    </div>
  </div>
</div>