// Place all the styles related to the categories controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.categories {
    .title {
        font-family: fantasy;
        color: #ffffe0;
    }

    .category {
        padding: 12px;
    }
}