.top_content {
    height: 100%;
    background-image: url("index-background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    color: #f0f8ff;
    overflow-y: scroll;

    .header {
        font-size: 14px;
        margin: 0px;

        .username {
            color: #00ffff;
        }
    }

    #flash_notice {
        color: #7fff00;
        text-align: center;
    }
}
