// Place all the styles related to the Questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.questions {

    .content {
        font-size: 35px;
        padding: 25px 0px;
        font-family: serif;
        color: #ffd700;
    }

    .choices {
        font-size: 20px;
        color: #fff8dc;
    }

    .submit {
        padding: 25px 0px;
    }

    #question_alert {
        color: #ff0000;
        background: #ffe4c4;
        text-align: center;
    }
}
