html,
body {
  height: 100%;
  width: 100%;
}

body {
  background-color: #fff;
  color: #333;
  margin: 0;
  padding: 0;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

h1, h2, h3, h4 {
  margin: 0;
  padding: 0;
}

p, ol, ul, td {
  font-family: monospace;
  font-size: 20px;
  margin: 0;
  padding: 0;
  list-style: none;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a {
  color: #000000;

  &:visited {
    color: #000000;
  }

  &:hover {
    color: #fff;
  }
}

th {
  padding-bottom: 5px;
}

td {
  padding: 0 5px 7px;
}

div {
  &.field, &.actions {
    margin: 0;
    padding: 0;
  }
}

#notice {
  color: #008000;
}

.field_with_errors {
  padding: 2px;
  background-color: #ff0000;
  display: block;
}

#error_explanation {
  width: 450px;
  border: 2px solid #ff0000;
  padding: 7px 7px 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;

  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px -7px 0;
    background-color: #c00;
    color: #fff;
  }

  ul li {
    font-size: 12px;
    list-style: square;
  }
}

label {
  display: block;
}
