// Place all the styles related to the Scores controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.category {
    position: fixed;
    height: 100%;
    width: 100%;
    padding: 50px;
    background : linear-gradient(45deg, #000000, transparent);

    .score {
        position: relative;
        width: 400px;
        max-width: 100%;
        background: #F5F5F5;
        margin: 0px auto;
        padding: 30px; 
        animation-duration: 2s;
        animation-name: slidein;

        @keyframes slidein {
            from {
                right: 100%;
            }
            to {
                right: 0%;
            }
        }

    }
}

.result_of_users_answers {
    min-height: 100%;
    width: 100%;
    padding: 50px;
    text-align: center;
    background: #d3d3d3;

    .content {
        position: relative;
        width: 400px;
        max-width: 100%;
        margin: 0px auto;

        .total_score {
            font-size: 50px;
            font-weight: 600;
        }

        .button {
            display: inline-block;
            border-radius: 12px;
            border: 2px solid;
            margin-top: 50px;
            font-size: 23px;
            color: #000;
            line-height: 2;
            text-decoration: none;
            text-align: center;
            padding: 10px 45px;
            font-weight:900;

            &.proceed {
                background: #7CFC00;
            }
            &.proceed:hover {
                background: #32CD32;
            }

            &.back {
                background: #00BFFF;
            }
            &.back:hover{
                background: #1E90FF;
            }
        }

        .result_title {
            text-align: center;
            font-size: 40px;

            &.succeed {
                color: #00008B;
            }

            &.failed {
                color: #ff0000;
                font-weight: 600;
            }
        }   
    }
}

.record {
    position: fixed;
    height: 100%;
    width: 100%;
    padding: 50px;
    text-align: left;
    background: #F0F8FF;
    border-style: solid;

    .list {
        position: relative;
        width: 400px;
        max-width: 100%;
        margin: 0px auto;

        h1 {
            padding-bottom: 50px;
        }

        .outcome {
            width: 100%;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            margin-bottom: 20px;
            justify-content: space-between;
            font-family: initial;
            font-size: 20px;

            .username{
                display: inline-block;                
            }

            .achievement {
                display: inline-block;
                padding-left: 10px;
            }
        }
    }
}
