// Place all the styles related to the sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.sessions {

    .title {
        font-family: fantasy;
        color: #00ffff;
    }

    .form {
        width: 350px;
        max-width: 100%;
        padding: 0px 12px 15px 12px;

        #flash_login_alert {
            margin-bottom: 12px;
            color: #ff4500;
            font-size: 18px;
            text-align: center;
        }

        .input {
            padding-bottom: 15px;

            .input_area {
                width: 100%;
                padding: 15px;
                font-size: 16px;
                border-radius: 12px;
                border-color: #7fff00;
            }
        }
    }
}