// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


// home page
.home {
    .subject {
        font-family: cursive;
        font-size: 40px;
    }
    .title {
        font-family: fantasy;
        color: #ffd700;
    }
}

// reminders page
.reminders {
    .title {
        font-family: serif;
        color: #ffd700;
    }

    .content {
        font-size: 20px;
        text-align: justify;
        font-family: fantasy;
        padding: 32px;
    }
}

// menu page
.menu {
    
    .title {
        font-family: cursive;
        color: #fff8dc;
        text-align: center;
    }

    .sub_title {
        font-family: fantasy;
        color: #ffd700;
    }
}

// about page
.about {
    .title {
        font-family: serif;
        color: #ffd700;
    }
    
    .instruction {
        font-size: 20px;
        text-align: justify;
        font-family: fantasy;
        padding: 32px;

    }
}
