// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.users {

    .title {
        font-family: fantasy;
        color: #ffd700;
    }

    .new_user {
        width: 350px;
        max-width: 100%;
        padding: 0px 12px 15px 12px;

        .invalid_input {
            color: #ff4500;
        }

        .input {
            padding-bottom: 15px;

            .form-control {
                padding: 12px;
                font-size: 16px;
                border-radius: 12px;
                border-color: #7fff00;
            }
        }
    }

    .login {
        padding: 0px 12px 15px 12px;
    }
}
