// Place all the styles related to the Users_answers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.users_answers {
    min-height: 100%;
    width: 100%;
    background : #d3d3d3;
    text-align: center;
    padding-bottom: 50px;

    .outcome {

        .style-image {
            height: 500px;
            padding: 50px;
        }
        
        h1 {
            font-size: 80px;
        }
    }
}

.overview {
    padding: 14px;

    .title {
        font-size: 50px;
        padding-bottom: 50px;
    }

    .question {
        font-size: 30px;
        font-family: serif;
        padding-bottom: 30px;
    }

    .correct_answer {
        color: red;
    }

    .content {
        font-size: 20px;
        padding-top: 20px;
        padding-bottom: 35px;
        font-family: serif;
        font-style: oblique;

        .current_answer {
            color: blue;
            padding-left: 30px;
        }
    }
}