<div class="container">   
    <div class="row justify-content-center p-3">
        <div class="title display-4">Categories</div>
    </div>
    <div class="row justify-content-center p-4">
        <% @categories.each do |category| %>
            <div class="category">
                <%= link_to category.title, "/categories/#{category.id}", class: "btn btn-primary btn-lg #{!category.active(@current_user.id) ? "disabled" : ""}" %>
            </div>
        <% end %>
    </div>
    <div class="row justify-content-center p-5">
        <%= link_to "Menu", menu_path, class: "btn btn-warning btn-lg" %>
    </div>
</div>
