<div class="description">    
    <div class="direction">
        <h1>Direction:</h1>
        <%= @category.description %>
        <div>
            This quiz consists of 20 questions.
            To be successful, you need to choose the best answer and get scores higher than 15. 
            If you could be successful, the next category will be unlocked. 
            If you get scores less than 16, you need to try the category quiz from the first question.
        </div>
        <div><%= link_to "Next", "/questions/#{@question.id}", class: "btn btn-info btn-lg" %></div>
    </div>
</div>