<div class="header row p-2">
    <div class="col-7 username">
        <%= @current_user.email %>
    </div>
    <div class="col-5 text-right">
        <%= link_to "LogOut", log_out_path%>
    </div>
</div>

