<!DOCTYPE html> 
<html>
  <head>
    <title>Sunnyeee Quiz</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag  "application" %>
    <%= javascript_include_tag  "application" %>
    <%= csrf_meta_tags %>
    <script type="text/javascript" data-turbolinks-eval="true">
      var audio = new Audio();
      document.addEventListener('turbolinks:load', function() {
        var is_target_page = document.querySelector('.questions,.users_answers,.scores.show,.results');
        if (audio.paused && is_target_page) {
          play(audio);
        }
      });
      async function play(audio) {
        audio.src = "/assets/Funny-background-music-for-videos-and-games.mp3";
        audio.loop = true;
        audio.autoplay = true;
        audio.play();
      }
    </script>
  </head>
  <body>
    <div class="top_wrapper <%= controller_name %> <%= action_name %> ">
      <% if flash[:notice] || flash[:alert] %>
        <% flash.each do |name, msg| %>
          <%= content_tag :div, msg, :id => "flash_#{name}" %>
        <% end %>
      <% end %>
      <%= yield %>
    </div>
  </body>
</html>