<!DOCTYPE html> 
<html>
  <head>
    <title>Sunnyeee Quiz</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag  "application" %>
    <%= javascript_include_tag  "application" %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <div class="top_content <%= controller_name %> <%= action_name %>">
      <%= render 'layouts/header' %>
      <% flash.each do |name, msg| %>
        <%= content_tag :div, msg, :id => "flash_#{name}" %>
      <% end %>
      <%= yield %>
      </div>
    </div>
  </body>
</html>
